nav{
    background-color: rgb(230, 48, 48);
    width: 100%;
    height: 70px;
    margin-top: 0px;
    padding: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.user{
    width: 40px;
    height: 28px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 30px;
    margin-top: 20px;
    text-align: center;
}
.left-menu{
    height: 90%;
    background-color: grey;
    width: 200px;
    position: absolute;
    border-radius: 5px;
}
.left-menu-first{
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.left-menu-first span{
    color: white;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.left-menu-second{
    position: relative;
    left: 50px;
    top: 25px;
    display: flex;
    flex-direction: column;
    border: solid 2px ;
    width: 150px;
    height: 100px;
}
.left-menu-second span{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#desc{
    font-size: 20px;
    position: absolute;
    left: 150xpx;
}

@media (max-width:1000px){
    nav{
        width: 300px;
    }
}