nav{
    background-color: rgb(230, 48, 48);
    width: 100%;
    height: 70px;
    margin-top: 0px;
    padding: 0;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.user{
    width: 40px;
    height: 28px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 30px;
    margin-top: 20px;
    text-align: center;
}
.left-menu{
    height: 100%;
    background-color: grey;
    width: 200px;
    position: absolute;
    
}
.left-menu-first{
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.left-menu-first span{
    color: white;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
.left-menu-second{
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    border-radius: 4px;
}
.left-menu-second:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}
.left-menu-second:active{
    background-color: rgb(176, 177, 177);
}
.left-menu-second span{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.left-menu-third{
    position: relative;
    top: 30px;
    left: 50px;
}
.left-menu-third span{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    position: absolute;
    left: 230px;
    height: 1000px;
    width: 1200px;
}
#desc{
    position: relative;
    top: 50px;
    right: 10px;
    font-size: 30px;
}
.main-buttons{
    position: relative;
    top: 55px;
    right:10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 800px;
}
.main-buttons button span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#main-buttons{
    width: 140px;
    max-width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(230, 48, 48);
    border: none;
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
#main-buttons:hover{
    transform: scale(1.025);
}
/* #filter-button{
    position: relative;
    margin-top: 10px;
    left:1px;
    border-radius: 5px;
    border:none;
    background-color: gray;
    opacity: 0.5;
    width: 140px;
    height: 40px;
} */
.filter{
    position: relative;
    top: 80px;
    width: 1200px;
    height: 380px;
    border: solid 2px;
    right: 10px;
    background-color: white;
    border: none;
    border-radius: 9px;
    box-shadow: 0 10px 10px rgba(0, 0,0, 0.212);
}
.filter-into{
    position: relative;
    top: 30px;
    left: 30px;
    width: 1140px;
    height: 340px;
}
.filter-into h1{
    font-size: 25px;
}
.inputs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    left: 20px;
    top: 10px;
    height: 200px;
    width: 1100px;
    margin-bottom: -80px;
    align-content: start;
    gap: 5px;
}
#wrap-input{
    display:flex;
    flex-direction: column;
    position: relative;
    left: 10px;
}

#wrap-input label{
    margin-bottom: 10px;
    margin-left: 20px;
}
input{
    width: 240px;
    height: 40px;
    border-radius: 10px;
    opacity: 0.5;
    border: solid 0.5px;
}
input:focus{
    outline-color: rgb(230, 48, 48);
    opacity: 1;
}
.inputs-2{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 90px;
    border: solid 2px;
    right: 20px;
}
.filter-buttons{
    position: relative;
    top: 100px;
    left: 45px;
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}
#button-1{
    width: 150px;
    height: 45px;
    border-radius: 8px;
    background-color: rgb(230, 48, 48);
    border: none;
    color: white;
    position: relative;
}
#button-2{
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: rgb(223, 223, 223);
    color: black;
}
.spisok{
    position: relative;
    top: 120px;
    border: solid 2px;
    width: 1200px;
    height: 300px;
    max-height: 600px;
    border-radius: 8px;
    border: none;
    overflow-x: auto;
}
.header{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: rgb(230, 48, 48);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.userData{
    position: relative;
    width:100%;
    height: 200px;
    border: solid 2px;
    
}
@media (max-width:1024px){
    #desc{
        font-size: 22px;
    }
    .inputs{
        width: 580px;
        height: 350px;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        right: 20px;
    }
    .filter{
        width: 670px;
        height: 520px;
        position:  relative;
        bottom: 40px;
    }
    .main-buttons{
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
    #filter-button{
        position: relative;
        right: 150px;
    }
    


}
@media(max-width: 768px){
    .spisok{
        overflow-x: scroll;
    }
    table{
        width: 500px;
    }
    th,td{
        display: block;
        width: 100%;
    }
    .inputs{
        width: 480p;
    }
}